SERVER_PORT=8000

APP_ENV="development"

LOGGER_LEVEL="debug"

MAILGUN_DOMAIN="email.com"
MAILGUN_API_KEY="some key"
MAILGUN_FROM_EMAIL="user@email.com"
MAILGUN_FROM_NAME="Sound Stage"

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="user=mahaveersoni dbname=sound_stage host=localhost port=5432 sslmode=disable"
GOOSE_MIGRATION_DIR=internal/infra/database/migrations

JWT_ACCESS_TOKEN_SECRET=your_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
JWT_ISSUER=sound-stage

REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=password
REDIS_DB=0

WORKER_CONCURRENCY=5
WORKER_DEFAULT_QUEUE=1
